// Place all the styles related to the TodoLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right {
  text-align: right;
}

.editing {

}

input.check {
  float: right;
}

.hidden {
  display:none;
}

.edit_todo_list {
  padding-top:7px;
  padding-left:30px;
}

.todo_list_edit_input {
  width: 450px;
}

.edit_task_form {
  
}

input.task_edit_input {
  width: 250px;
  margin-bottom: 1px;
  margin-top: 1px;
  height: 15px;
}

td.editing_task,
td.editing_deadline {
  vertical-align: middle;
  padding-top: 6px;
  padding-bottom: 5px;
}

.new_list_form {
  padding-top:5px;
}

.new_task_form {
  padding-top:7px;
}

.alerts {
  width: 700px;
}

.striked {
  text-decoration: line-through;
}

.datepicker {
}

.form-control {
  display: block;
  text-align: center;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control.xlg {
  width: 250px;
  margin-bottom: 25px;
}

.form-control.lg {
  width: 150px;
  margin-bottom: 25px;
}

.form-control.s {
  width: 100px;
  margin-bottom: 25px;
}

.form-control.xs {
  width: 60px;
  margin-bottom: 25px;
}


.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.devise_button {
  margin-top: 0px;
  margin-bottom: 0px;
}